{% extends "layout.html" %}

{% block content %}
 <article>
 	<h2>What is it?</h2>
 	<p>A <a href="https://computerfreud.tumblr.com/" target="_blank">tumblr bot</a> that is consistentnly trying to remix Freud's Interpretation of Dreams</a></p>
  </article>

   <article>
  	<h2>How Does It Work?</h2>
  	<p>A markov chain goes off and remixes a big ole' bunch of text, then tries to write someting similar. It then collects some search terms from that text, and heads over to bing to find an image to post with it. The results are sometimes good, sometimes shit, and sometimes just stright out weird.</p>
  </article>

  <article>
  	<h2>Why Make This?</h2>
  	<p>Computers like reading too.<p>
  </article>

  <article>
  	<h2>Who Made It?</h2>
  	<p>Made by <a href="http://nadinelessio.com">NL</a>.</p>
  </article>
   
{% endblock %}
